* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* === HOME PAGE === */
.top-row {
    align-items: center;
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom: solid gainsboro;
    height: 50px;
    display: flex;
}

.top-row .cooking-logo {
    height: 50px;
    margin: 0 0 0 16px;
    display: block;
}

.top-row.recipe-page .cooking-logo:hover {
    background-color: rgb(242, 242, 242);
    border-radius: 8px;
}

.top-row .home-page-title {
    margin: 0 0 0 30px;
    font-weight: 700;
}

.top-row input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    padding-left: 5px;
    border: none;
    border-radius: 4px;
    background: fixed rgb(242, 242, 242);
}

.home-page-h2 {
    margin: 16px;
}

.home-page-list {
    margin-left: 32px;
}

/* === RECIPE PAGES === */
h1,
h2,
p,
img {
    margin: 16px;
}

ol,
ul {
    margin-left: 32px;
}